<template>
    <div>
        <div class="card">
            <div class="card-header">Products Management
                <a href="#" title="Add New Product" class="float-right btn btn-icon bg-success legitRipple"
                   @click.prevent="showModal"><i
                        class="icon-plus3"></i></a>
            </div>
            <div class="card-body table-responsive">
                <br>
                <table class="table table-stripped" v-if="products.length>0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Units</th>
                        <th>Description</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Created</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product, index) in products" :key="product.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ product.name}}</td>
                        <td>{{ product.tag}}</td>
                        <td>{{ product.size.name }}</td>
                        <td>{{ product.description}}</td>
                        <td>{{ product.supplier}}</td>
                        <td>{{ product.category}}</td>
                        <td>{{ product.created_at | moment("dddd, MMMM Do YYYY")}}</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 20px, 0px);">
                                        <a href="#" class="dropdown-item" @click.prevent="editModal(product)"><i
                                                class="icon-database-edit2"></i>Edit</a>
                                        <a href="#" class="dropdown-item" @click.prevent="deleteProduct(product)"><i
                                                class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" v-else>
                    No Products List yet
                </div>

            </div>
        </div>
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            {{ updateMode ? "Update " : "Create "}} Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updateMode?updateProduct():storeProduct()">
                        <div class="modal-body">

                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Name</label>
                                <input type="text" class="form-control" v-model="form.name" required
                                       :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Name"/>
                                <has-error :form="form" field="name"></has-error>
                            </div>
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Tag</label>
                                <input type="text" class="form-control" required v-model="form.tag"
                                       :class="{ 'is-invalid': form.errors.has('tag') }" placeholder="Tag"/>
                                <has-error :form="form" field="tag"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Unit</label>
                                <Multiselect v-model="form.size" :options="sizes" placeholder="Select one Unit"
                                             label="name" track-by="name"></Multiselect>
                                <small v-if="form.errors.has('size')" class="text-danger">The size field is required
                                </small>
                            </div>
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Supplier</label>
                                <input type="text" class="form-control" required v-model="form.supplier"
                                       :class="{ 'is-invalid': form.errors.has('supplier') }" placeholder="Supplier"/>
                                <has-error :form="form" field="supplier"></has-error>
                            </div>
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Category</label>
                                <select class="form-control" required v-model="form.category"
                                        :class="{ 'is-invalid': form.errors.has('category') }">
                                    <option value="" disabled>Select Category</option>
                                    <option value="Raw Material">Raw Material</option>
                                    <option value="Product">Product</option>
                                </select>
                                <has-error :form="form" field="category"></has-error>
                            </div>
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Description</label>
                                <textarea class="form-control" required v-model="form.description"
                                          :class="{ 'is-invalid': form.errors.has('description') }"
                                          placeholder="Description">
                                </textarea>
                                <has-error :form="form" field="description"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" :disabled="form.busy" class="btn btn-primary">{{
                                form.busy ? 'Submitting...' : 'Submit'}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Form} from "vform";
    import Multiselect from 'vue-multiselect'
    import {DatatableInit} from "../../mixins/datatableInit";

    export default {
        name: "Products",
        mixins: [DatatableInit],
        components: {
            Multiselect
        },
        data() {
            return {
                products: [],
                updateMode: false,
                sizes: [],
                form: new Form({
                    id: '',
                    name: '',
                    tag: '',
                    category: '',
                    size: null,
                    description: '',
                    supplier: ''
                })
            }
        },
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            },
            showModal() {
                this.updateMode = false;
                this.form.reset();
                $('#productModal').modal('show')
            },
            editModal(product) {
                this.updateMode = true;
                this.form.clear();
                this.form.fill(product);
                $('#productModal').modal('show')

            },
            loadProducts() {
                axios.get("/api/product").then(resp => {
                    this.products = resp.data.data
                })
            },
            storeProduct() {
                this.$Progress.start();
                this.form.post("/api/product")
                    .then(resp => {
                        this.products.push(resp.data.data);
                        this.$Progress.finish();
                        $('#productModal').modal('hide');
                        this.toast("Success", "Product is added successfully!")
                    })
                    .catch(err => {
                        this.$Progress.fail();
                        this.$swal(
                            'Error!',
                            'Problem while creating product.',
                            'error'
                        )
                    })
            },
            updateProduct() {
                this.$Progress.start();
                this.form.put("/api/product/" + this.form.id)
                    .then(resp => {
                        console.log(resp);
                        const index = this.products.findIndex(u => u.id === resp.data.data.id);

                        this.products[index].name = resp.data.data.name;
                        this.products[index].tag = resp.data.data.tag;
                        this.products[index].size = resp.data.data.size;
                        this.products[index].description = resp.data.data.description;
                        this.products[index].supplier = resp.data.data.supplier;
                        this.$Progress.finish();
                        $('#productModal').modal('hide');
                        this.toast("Success!!", "Product is updated successfully!")
                    })
                    .catch(err => {
                        console.log(err.response);
                        this.$Progress.fail();
                        this.$swal(
                            'Error!',
                            'Problem while updating.',
                            'error'
                        )
                    })
            },
            deleteProduct(product) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete !'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start();
                        axios.delete("/api/product/" + product.id)
                            .then(resp => {
                                this.$Progress.finish();
                                const index = this.products.findIndex(u => u.id === product.id);
                                this.products.splice(index, 1);
                                this.$swal(
                                    'Deleted!',
                                    'Product has been deleted.',
                                    'success'
                                )
                            })
                            .catch(err => {
                                this.$Progress.fail();
                                this.$swal(
                                    'Error!',
                                    'Problem while deleting.',
                                    'error'
                                )
                            })
                    }
                })
            },
            loadSizes() {
                axios.get("/api/size").then(resp => {
                    this.sizes = resp.data.data
                })
            }
        },
        created() {
            this.loadProducts();
            this.loadSizes();

        },
        watch: {
            products: {
                handler: function (val, oldVal) {
                    this.datatableInit();
                },
                deep: true
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>