<template>
    <div>
        <div class="card">
            <div class="card-header">Added Products

            </div>
            <div class="card-body table-responsive">
                <br>
                <table class="table table-stripped" v-if="products.length>0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Units</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product,index) in products" :key="product.id">
                        <td>{{ index +1 }}</td>
                        <td>{{ product.product.name}}</td>
                        <td>{{ product.product.tag}}</td>
                        <td>{{ product.product.size.name }}</td>
                        <td>{{ product.product.supplier}}</td>
                        <td>{{ product.product.category}}</td>
                        <td> {{ product.reqQuantity }}</td>
                        <td :class="{'text-danger':!product.reqDetails}">{{
                            product.reqDetails?product.reqDetails:'None'}}
                        </td>
                        <td>
                            <a href="#" title="Edit Product Quantity"
                               class="float-right btn btn-icon bg-info legitRipple" @click="editProduct(product)"
                            ><i class="icon-pencil"></i></a>
                            <a href="#" title="Remove Product From Edit List"
                               class="float-right btn btn-icon bg-danger legitRipple" @click="removeProduct(product)"
                            ><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" v-else>
                    No Products List yet
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary float-right"
                        :disabled="!products.length>0"
                        @click="submitProduct" role="button"
                >Submit
                </button>
            </div>
        </div>
        <div class="card" id="printMe" v-show="false">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            INVENTORY
                            <ul class="list list-unstyled mb-0">
                                <li>KIGALI</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-4">
                            <div class="text-sm-right">
                                <h4 class="text-primary mb-2 mt-md-2">Invoice #{{ requisitions.number }}</h4>
                                <ul class="list list-unstyled mb-0">
                                    <li>Date: <span class="font-weight-semibold">{{ requisitions.created_at | moment("dddd, MMMM Do YYYY")}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Tag</th>
                            <th>Unit</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody v-if="requisitions.requisitions">
                        <tr v-for="requisition in requisitions.requisitions" :key="requisition.id">
                            <td>
                                <h6 class="mb-0">{{ requisition.product_name}}</h6>
                                <span class="text-muted">{{ requisition.details}}, {{ requisition.product_description}}.</span>
                            </td>
                            <td>{{ requisition.product_tag }}</td>
                            <td>{{ requisition.product_size }}</td>
                            <td><span class="font-weight-semibold">{{ requisition.quantity}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <div class="d-md-flex flex-md-wrap">
                        <div class="pt-2 mb-3">
                            <h6 class="mb-3">Authorized person</h6>
                            <div class="mb-3">
                                .................................................................
                            </div>

                            <ul class="list-unstyled text-muted">
                                <li>{{ requisitions.user?requisitions.user.name:''}}</li>
                            </ul>
                        </div>

                        <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                            <h6 class="mb-3">Total Quantity</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Total:</th>
                                        <td class="text-right text-primary" v-if="requisitions.requisitions"><h5
                                                class="font-weight-semibold">{{
                                            sumQuantity(requisitions.requisitions)}}</h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddedList",
        data() {
            return {
                products: [],
                requisitions: {}
            }
        },
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            },
            loadProducts() {
                axios.get("/requisition").then(resp => {
                    this.products = resp.data;
                })
            },
            removeProduct(product) {
                const index = this.products.findIndex(p => p.product_id == product.product_id);
                this.$swal({
                    title: 'Are you sure?',
                    text: "Remove this product from this list!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete !'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start();
                        axios.delete("/requisition/" + index)
                            .then(resp => {
                                this.$Progress.finish();
                                const index = resp.data;
                                this.products.splice(index, 1);
                                this.$swal(
                                    'Deleted!',
                                    'Product has been removed.',
                                    'success'
                                );
                                Fire.$emit("reqUpdatedProducts");
                            })
                            .catch(err => {
                                this.$Progress.fail();
                                this.$swal(
                                    'Error!',
                                    'Problem while deleting.',
                                    'error'
                                )
                            })
                    }
                })
            },
            editProduct(product) {
                const index = this.products.findIndex(p => p.product_id == product.product_id);
                this.$swal({
                    title: 'Enter New Quantity',
                    type: 'question',
                    input: 'number',
                    inputValue: product.reqQuantity,
                    showCancelButton: true
                }).then(result => {
                    if (result.value) {
                        if (result.value != 0) {
                            this.$Progress.start();
                            axios.put("/requisitions/update/" + index, {quantity: result.value})
                                .then(() => {
                                    this.$Progress.finish();
                                    this.toast("Success", "Product updated successfully!");
                                    this.products[index].reqQuantity = result.value

                                })
                                .catch(err => {
                                    Swal.fire(
                                        'Error!',
                                        'Error While Updating Quantity.',
                                        'error'
                                    )
                                })
                        } else
                            Swal.fire(
                                'Error!',
                                'Incorrect Quantity.',
                                'error'
                            )

                    }
                })
            },
            submitProduct() {
                this.$Progress.start();
                this.$swal({
                    title: 'Are you sure?',
                    text: "Submit these requisition products?!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Submit !'
                }).then((result) => {
                    if (result.value) {
                        axios.post("/requisition")
                            .then(resp => {
                                this.requisitions = resp.data;
                                setTimeout(() => this.printReq(), 2000);
                                this.$Progress.finish();
                                this.$swal(
                                    'Updated!',
                                    'Requisition has been submitted Successfully!!.',
                                    'success'
                                );
                                this.products = [];
                                Fire.$emit("reqUpdatedProductsAll");
                            })
                            .catch(err => {
                                this.$Progress.fail();

                                this.$swal(
                                    'Error!',
                                    'Problem while updating.',
                                    'error'
                                )
                            })
                    }
                })

            },
            sumQuantity(requisition) {
                let sum = 0;
                for (let i = 0; i < requisition.length; i++) {
                    sum += requisition[i].quantity
                }
                return sum;
            },
            printReq() {
                this.$htmlToPaper("printMe")
            }
        },
        created() {
            this.loadProducts();
        }
    }
</script>

<style scoped>

</style>