<template>
    <div class="container">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary text-white">Purchase Receipt # {{ random }}
                            <span class="float-right badge badge-light"
                                  style="font-size: 20px !important;">{{ sumPrice | currency}}</span>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label>Select Client</label>
                                        <multiselect v-model="form.client" :options="clients"
                                                     placeholder="Select Client"
                                                     track-by="name" label="name"
                                        ></multiselect>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Select Payment Method</label>
                                        <multiselect v-model="form.payment" :options="payments">
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <button class="btn btn-success" @click="addClient">Add New Client</button>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" v-model="details"
                                               v-if="form.payment !=null && form.payment == 'Bank'|| form.payment == 'Cheque'"
                                               class="form-control" :placeholder="`${form.payment} Details`" autofocus>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(number,index) in numbers">
                                    <td>{{ index + 1}}</td>
                                    <td style="width: 45%">
                                        <multiselect v-model="form.product[index]" :options="products"
                                                     placeholder="Select Product"
                                                     :custom-label="nameOfSelect"
                                                     track-by="id" label="name"
                                        ></multiselect>
                                    </td>
                                    <td><input type="number" min="0" v-model="form.quantity[index]"
                                               class="form-control"></td>
                                    <td><input type="number" min="0" v-model="form.price[index]" class="form-control">
                                    </td>
                                    <td>
                                        <a href="#" @click.prevent="aboutProduct(index)" title="About product"
                                           class="btn btn-sm bg-transparent border-info text-info rounded-round btn-icon legitRipple">
                                            <i class="icon-question7"></i>
                                        </a>
                                        <a href="#" @click.prevent="removeRow(index)" title="Remove product"
                                           class="btn btn-sm bg-transparent border-danger text-danger rounded-round btn-icon legitRipple">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" @click.prevent="addRow"
                               class="btn bg-transparent border-teal text-teal rounded-round border-2 btn-icon mr-3 legitRipple">
                                <i class="icon-plus3"></i>
                            </a>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary legitRipple" @click="submitSale"
                                    :disabled="!form.payment || !form.client || form.product.length<1 || isAbleToSubmitByPayment">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="printMe" v-show="false">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            Purchase Order
                            <ul class="list list-unstyled mb-0" v-if="form.client">
                                <li>{{ form.client.name}}</li>
                                <li>{{ form.client.phone}}</li>
                                <li>{{ form.client.email}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-4">
                            <div class="text-sm-right">
                                <h4 class="text-primary mb-2 mt-md-2">Invoice #{{ random }}</h4>
                                <ul class="list list-unstyled mb-0">
                                    <li>Date: <span
                                            class="font-weight-semibold">{{ new Date() | moment("dddd, MMMM Do YYYY")}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Unit Price</th>
                            <th>Sub Total</th>
                        </tr>
                        </thead>
                        <tbody v-if="form.product.length>0">
                        <tr v-for="(product,index) in form.product" :key="product.id">
                            <td>
                                <h6 class="mb-0">{{ product.name}}</h6>
                                <span class="text-muted">{{ product.tag}}, {{ product.description}}.</span>
                            </td>
                            <td>{{ form.quantity[index] ? form.quantity[index] : 0 }}</td>
                            <td>{{product.size.name }}</td>
                            <td>{{ form.price[index] ? form.price[index] : 0 | currency}}</td>
                            <td><span
                                    class="font-weight-semibold">{{ Number(form.quantity[index] ? form.quantity[index] : 0) * Number(form.price[index] ? form.price[index] : 0) | currency}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <div class="d-md-flex flex-md-wrap">
                        <div class="pt-2 mb-3">
                            <h6 class="mb-3">Cashier's Signature</h6>
                            <div class="mb-3">
                                .................................................................
                            </div>

                            <ul class="list-unstyled text-muted">
                                <li>{{user}}</li>
                            </ul>
                        </div>

                        <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Total:</th>
                                        <td class="text-right text-primary"><h5
                                                class="font-weight-semibold">{{ sumPrice | currency}}</h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clientModalLabel">Add New Client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="submitClient">

                        <div class="modal-body">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Client Names</label>
                                <input type="text" class="form-control" v-model="client.name" required
                                       placeholder="Client Names"/>
                            </div>

                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Client Email</label>
                                <input type="email" class="form-control" v-model="client.email"
                                       placeholder="Client Email"/>
                            </div>
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Phone Contact</label>
                                <input type="tel" class="form-control" v-model="client.phone" required
                                       placeholder="Phone Contact"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary legitRipple" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary legitRipple">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import Multiselect from 'vue-multiselect'
    import {Form} from "vform";
    export default {
        name: "Sale",
        props: ['user'],
        components: {
            Multiselect
        },
        data() {
            return {
                clients: [],
                products: [],
                random: '',
                numbers: [1, 2],
                details: null,
                payments: ['Cash', 'Cheque', "Credit", "Bank"],
                form: {
                    quantity: [],
                    client: null,
                    payment: null,
                    product: [],
                    price: [],
                },
                client: new Form({
                    name: "",
                    email: "",
                    phone: ""
                })
            }
        },
        methods: {
            nameOfSelect({name, tag, description}) {
                return `${name}, (${tag}) - ${description} `
            },
            addClient(){
                $("#clientModal").modal("show");
                this.client.clear();
                this.client.reset()
            },
            submitClient(){
                this.$Progress.start();
                this.client.post("/client")
                    .then(resp => {
                        this.$Progress.finish();
                        this.clients.push(resp.data);
                        this.form.client = resp.data;
                        $("#clientModal").modal("hide");
                        this.$swal("Success", "Client Added Successfully!")
                    })
                    .catch(err => {
                        this.$Progress.fail();
                        this.$swal("Error", "Problem While Adding Client", "error")
                    })
            },
            resetForm() {
                this.loadRandom();
                this.numbers = [1, 2];
                this.form.quantity = [];
                this.form.payment = null;
                this.form.client = null;
                this.form.product = [];
                this.form.price = []
            },
            loadClients() {
                axios.get("/sale/clients")
                    .then(resp => {
                        this.clients = resp.data
                    })
            },
            loadProducts() {
                axios.get("/sale/products")
                    .then(resp => {
                        this.products = resp.data
                    })
            },
            loadRandom() {
                this.$Progress.start();
                axios.get("/sale/random")
                    .then(resp => {
                        this.$Progress.finish();
                        this.random = resp.data
                    })
            },
            addRow() {
                this.numbers.push(1);
            }, removeRow(index) {
                this.form.product.splice(index, 1);
                this.form.price.splice(index, 1);
                this.form.quantity.splice(index, 1);
                this.numbers.splice(index, 1)
            },
            aboutProduct(index) {
                if (!this.form.product[index]) {
                    this.$swal("Product", "No product selected", "error");
                    return;
                }

                this.$swal({
                    type: "question",
                    title: "About " + this.form.product[index].name,
                    html: `
                 <p><strong>Description: </strong>${this.form.product[index].description}</p>
                 <p><strong>Tag: </strong>${this.form.product[index].tag}</p>
                 <p><strong>Unit: </strong>${this.form.product[index].size.name}</p>
                  <p><strong>Available: </strong>${this.form.product[index].sale_stock}</p>
                `
                })
            },
            submitSale() {

                const prods = this.form.product.map((p, index) => {
                    return {
                        product_id: p.id,
                        quantity: this.form.quantity[index] ? this.form.quantity[index] : 0,
                        price: this.form.price[index] ? this.form.price[index] : 0,
                        client_id: this.form.client.id,
                        payment: this.form.payment
                    }
                });
                const final = {
                    totalPrice: this.sumPrice,
                    random: this.random,
                    products: prods,
                    client_id: this.form.client.id,
                    payment: this.form.payment,
                    details: this.isAbleDetails ? this.details : null


                };

                this.$swal({
                    title: 'Are you sure?',
                    text: "Submit this sale!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Submit !'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start();
                        axios.post("/sale/selling", final)
                            .then(resp => {
                                this.$Progress.finish();
                                this.$swal("Success!", "Sale Is Submitted Successfully", "success");
                                this.printSale();
                                this.resetForm()
                            })
                            .catch(err => {
                                this.$Progress.fail();
                                if (err.response.status == 400) {
                                    this.$swal(
                                        'Error!',
                                        err.response.data,
                                        'error'
                                    )
                                } else
                                    this.$swal(
                                        'Error!',
                                        'Problem while submitting.',
                                        'error'
                                    )
                            })
                    }
                })
            },
            printSale() {
                this.$htmlToPaper("printMe")
            }
        },
        computed: {
            isAbleToSubmitByPayment(){
                if (this.form.payment === 'Cheque' || this.form.payment === 'Bank')
                    return this.details === null || (this.details).trim() === '';
            },
            isAbleDetails(){
                return this.form.payment === 'Cheque' || this.form.payment === 'Bank';

            },
            sumPrice() {
                let sum = 0;
                if (this.form.price.length > 0) {
                    const saleNumber = this.form.price;
                    for (let i = 0; i < saleNumber.length; i++) {
                        sum += (Number(this.form.price[i]) * Number(this.form.quantity[i] ? this.form.quantity[i] : 0));
                    }
                }

                return sum;
            },
        },
        created() {
            this.loadProducts();
            this.loadClients();
            this.loadRandom()
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped type="text/css" media="print">
    #printMe {
        size: auto;
        margin: 0;
    }
</style>
