<template>
    <li class="nav-item">
        <a href="/requisitions" class="navbar-nav-link draft">
            <i class="icon-list mr-2"></i>
           Draft Requisitions &nbsp;<span class="badge badge badge-primary"
                                     style="margin-top: 13px">{{ products.length}}</span>
        </a>
    </li>
</template>

<script>
    export default {
        name: "Added",
        data() {
            return {
                products: []
            }
        },
        methods: {
            loadProducts() {
                axios.get("/requisition").then(resp => {
                    if (resp.data)
                        this.products = resp.data;
                    else
                        this.products = []
                })
            }
        },
        created() {

            this.loadProducts();
            Fire.$on("reqAddToSession", (data) => {
                this.products.push(data)
            });
            Fire.$on("reqUpdatedProducts", () => {
                console.log("Event Received");
                this.products.splice(0, 1);
            });
            Fire.$on("reqUpdatedProductsAll", () => {
                this.products = [];
            })
        }
    }
</script>

<style scoped>

</style>