<template>
    <div>

        <div class="card">
            <div class="card-header">Units Management
                <a href="#" title="Add New Unit" class="float-right btn btn-icon bg-success legitRipple"
                   @click.prevent="showModal"><i
                        class="icon-plus3"></i></a>
            </div>
            <div class="card-body table-responsive">
                <br>
                <table class="table table-stripped" v-if="units1.length>0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Products</th>
                        <th>Created</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(unit,index) in units1" :key="unit.id">
                        <td>{{ index +1 }}</td>
                        <td>{{ unit.name}}</td>
                        <th>{{ unit.products}}</th>
                        <td>{{ unit.created_at | moment("dddd, MMMM Do YYYY")}}</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 20px, 0px);">
                                        <a href="#" class="dropdown-item" @click.prevent="editModal(unit)"><i
                                                class="icon-database-edit2"></i>Edit</a>
                                        <a href="#" class="dropdown-item" @click.prevent="deleteUnit(unit)"><i
                                                class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" v-else>
                    No Units List yet
                </div>

            </div>
        </div>
        <div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ updateMode?"Update ":"Create "}} Unit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updateMode?updateUnit():storeUnit()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" v-model="form.name" required
                                       :class="{ 'is-invalid': form.errors.has('name') }"/>
                                <has-error :form="form" field="name"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" :disabled="form.busy" class="btn btn-primary btn-raised">{{
                                form.busy?'Submitting...':'Submit'}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Form} from "vform";
    import {DatatableInit} from "../mixins/datatableInit";

    export default {
        name: "Unit",
        mixins: [DatatableInit],
        data() {
            return {
                units: [],
                updateMode: false,
                form: new Form({
                    id: '',
                    name: '',
                })
            }
        }
        ,
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            }
            ,
            showModal() {
                this.updateMode = false;
                this.form.reset();
                $('#unitModal').modal('show')
            }
            ,
            editModal(unit) {
                this.updateMode = true;
                this.form.clear();
                this.form.fill(unit);
                $('#unitModal').modal('show')

            }
            ,
            loadUnits() {
                axios.get("/api/unit").then(resp => {
                    this.units = resp.data.data;
                });
            }
            ,
            storeUnit() {
                this.$Progress.start();
                this.form.post("/api/unit")
                    .then(resp => {
                        this.$Progress.finish();
                        $('#unitModal').modal('hide');
                        this.units.push(resp.data.data);
                        this.toast("Success", "Unit Created Successfully!!")

                    })
                    .catch(err => {
                        this.$Progress.fail();
                        console.log(err);
                        this.$swal("Error", "Error while creating unit");

                    })
            }
            ,
            updateUnit() {
                this.$Progress.start();
                this.form.put("/api/unit/" + this.form.id)
                    .then(resp => {
                        const index = this.units.findIndex(s => s.id === resp.data.data.id);
                        this.units[index].name = resp.data.data.name;
                        this.$Progress.finish();
                        this.toast("Success", "Unit updated successfully!");
                        $('#unitModal').modal('hide');
                    })
                    .catch(err => {
                        this.$Progress.fail()

                    })
            }
            ,
            deleteUnit(unit) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    this.$Progress.start();
                    if (result.value) {

                        axios.delete("/api/unit/" + unit.id)
                            .then(resp => {
                                this.$Progress.finish();
                                const index = this.units.findIndex(s => s.id === unit.id);
                                this.units.splice(index, 1);
                                this.$swal(
                                    'Deleted!',
                                    'Unit has been deleted.',
                                    'success'
                                )

                            })
                            .catch(err => {
                                this.$Progress.fail();
                                this.$swal(
                                    'Error!',
                                    'Problem while deleting.',
                                    'error'
                                )
                            })
                    }
                })
            }
        }
        ,
        created() {
            this.loadUnits();

        }
        ,
        computed: {
            units1() {
                return this.units
            }
        }
        ,
        watch: {
            units1: {
                handler: function (val, oldVal) {
                    this.datatableInit()
                }
                ,
                deep: true
            }
        }
    }
</script>
