<template>
    <div class="card">
        <div class="card-header">Added Products

        </div>
        <div class="card-body table-responsive">
            <br>
            <table class="table table-stripped" v-if="products.length>0">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Units</th>
                    <th>Supplier</th>
                    <th>Category</th>
                    <th>Received</th>
                    <th>Dispatched</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(product,index) in products" :key="product.id">
                    <td>{{ index +1 }}</td>
                    <td>{{ product.name}}</td>
                    <td>{{ product.tag}}</td>
                    <td>{{ product.size.name }}</td>
                    <td>{{ product.supplier}}</td>
                    <td>{{ product.category}}</td>
                    <td>
                        <input class="form-control" type="number" v-model="received[index]" value="0"
                               placeholder="Default Received is 0">
                    </td>
                    <td>
                        <input class="form-control" type="number" v-model="dispatched[index]"
                               placeholder="Default Dispatched is 0">
                    </td>
                    <td>
                        <a href="#" title="Remove Product From Edit List"
                           class="float-right btn btn-icon bg-danger legitRipple" @click="removeProduct(product)"
                        ><i
                                class="icon-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" v-else>
                No Products List yet
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary float-right" @click="submitProduct" role="button"
                    :disabled="dispatched.length===0 && received.length===0">Submit
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddedList",
        data() {
            return {
                products: [],
                dispatched: [],
                received: []
            }
        },
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            },
            loadProducts() {
                axios.get("/added").then(resp => {
                    this.products = resp.data;
                })
            },
            removeProduct(product) {

                const index = this.products.findIndex(p => p.id == product.id);
                this.$swal({
                    title: 'Are you sure?',
                    text: "Remove this product from this list!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete !'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start();
                        axios.delete("/remove/" + index)
                            .then(resp => {
                                this.$Progress.finish();
                                const index = resp.data;
                                this.products.splice(index, 1);
                                if (this.dispatched[index])
                                    this.dispatched.splice(index, 1);
                                if (this.received[index])
                                    this.received.splice(index, 1);
                                this.$swal(
                                    'Deleted!',
                                    'Product has been removed.',
                                    'success'
                                );
                                Fire.$emit("updatedProducts");
                            })
                            .catch(err => {
                                this.$Progress.fail();
                                this.$swal(
                                    'Error!',
                                    'Problem while deleting.',
                                    'error'
                                )
                            })
                    }
                })
            },
            submitProduct() {
                this.$Progress.start()
                const newProd = this.products.map((i, index) => {
                    return {
                        product_id: i.id,
                        received: !this.received[index] || this.received[index] == "" ? 0 : this.received[index],
                        dispatched: !this.dispatched[index] || this.dispatched[index] == "" ? 0 : this.dispatched[index]
                    }
                })
                this.$swal({
                    title: 'Are you sure?',
                    text: "Edit these product?!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Edit !'
                }).then((result) => {
                    if (result.value) {
                        axios.post("/api/details", newProd)
                            .then(resp => {
                                this.$Progress.finish()
                                this.$swal(
                                    'Updated!',
                                    'Products has been Updated Successfully!!.',
                                    'success'
                                );
                                this.products = []
                                Fire.$emit("updatedProductsAll");
                            })
                            .catch(err => {
                                this.$Progress.fail();

                                if (err.response.status == 400) {
                                    this.$swal(
                                        'Error!',
                                        err.response.data[0],
                                        'error'
                                    )
                                } else {
                                    this.$swal(
                                        'Error!',
                                        'Problem while updating.',
                                        'error'
                                    )
                                }
                            })
                    }
                })


            }
        },
        created() {
            this.loadProducts();
        }
    }
</script>

<style scoped>

</style>