<template>
    <li class="nav-item">
        <a href="/addedList" class="navbar-nav-link added">
            <i class="icon-list mr-2"></i>
            Added &nbsp;<span class="badge badge badge-primary" style="margin-top: 14%">{{ products.length}}</span>
        </a>
    </li>
</template>

<script>
    export default {
        name: "Added",
        data() {
            return {
                products: []
            }
        },
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            },
            addProduct(product) {
                axios.post("/added", product)
                    .then(resp => {
                        if (this.products.length === 0) {
                            this.products = [{...resp.data}]
                        } else
                            this.products.push(resp.data);

                        this.$Progress.finish();
                        this.toast("Success!", "Product Added Successfully!!")
                    })
                    .catch(err => {
                        this.$Progress.fail();
                        this.toast("Error!", "Error while adding product!", "error");
                    })
            },
            loadProducts() {
                axios.get("/added").then(resp => {
                    this.products = resp.data;
                })
            }
        },
        created() {
            this.loadProducts();
            Fire.$on("addToSession", (product) => {
                this.$Progress.start();
                axios.get("/added").then(resp => {
                    this.products = resp.data;
                    if (this.products.length == 0) {
                        this.addProduct(product);
                        return;
                    }
                    const index = this.products.findIndex(p => p.id == product.id);
                    if (index > -1) {
                        this.$Progress.fail();
                        this.toast("Error", "Product already exists.", "error");
                    } else
                        this.addProduct(product)
                })
            });
            Fire.$on("updatedProducts", () => {
                console.log("Event Received");
                this.products.splice(0, 1);
            })
              Fire.$on("updatedProductsAll", () => {
            
                this.products=[];
            })
        }
    }
</script>

<style scoped>

</style>