<template>
    <div>
        <div class="card">
            <div class="card-header">Users Management
                <a href="#" title="Add New Product" class="float-right btn btn-icon bg-success legitRipple"
                   @click.prevent="showModal"><i
                        class="icon-plus3"></i></a>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-stripped" v-if="users.length>0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Type</th>
                        <th>Created</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user,index) in users" :key="user.id">
                        <td>{{ index +1 }}</td>
                        <td>{{ user.name}}</td>
                        <td>{{ user.email}}</td>
                        <td>
                            <span v-if="user.type==1">Inventory And Stock Manager</span>
                            <span v-else-if="user.type==2">Admin</span>
                            <span v-else>Sales</span>
                        </td>
                        <td>{{ user.created_at | moment("dddd, MMMM Do YYYY")}}</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 20px, 0px);">
                                        <a href="#" class="dropdown-item" @click.prevent="editModal(user)"><i
                                                class="icon-database-edit2"></i>Edit</a>
                                        <a href="#" class="dropdown-item" @click.prevent="deleteUser(user)"><i
                                                class="icon-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" v-else>
                    No Users List yet
                </div>

            </div>
        </div>
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ updateMode?"Update ":"Create "}} User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updateMode?updateUser():storeUser()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" v-model="form.name" required
                                       :class="{ 'is-invalid': form.errors.has('name') }"/>
                                <has-error :form="form" field="name"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" required v-model="form.email"
                                       :class="{ 'is-invalid': form.errors.has('email') }"/>
                                <has-error :form="form" field="email"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control " required v-model="form.type"
                                        :class="{ 'is-invalid': form.errors.has('type') }">
                                    <option value="" disabled>Select User Type</option>
                                    <option :value="0">Sales</option>
                                    <option :value="1">Inventory & Stock</option>
                                    <option :value="2">Admin</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" :disabled="form.busy" class="btn btn-primary btn-raised">{{
                                form.busy?'Submitting...':'Submit'}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Form} from "vform";
    import {DatatableInit} from "../mixins/datatableInit";

    export default {
        name: "users",
        mixins: [DatatableInit],
        data() {
            return {
                users: [],
                updateMode: false,
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    type: '',
                })
            }
        },
        methods: {
            toast(title, message, type) {
                this.$swal({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 6000,
                    type: type ? type : 'success',
                    title: title,
                    text: message
                });
            },
            showModal() {
                this.updateMode = false;
                this.form.reset();
                $('#userModal').modal('show')
            },
            editModal(user) {
                this.updateMode = true;
                this.form.clear();
                this.form.fill(user);
                $('#userModal').modal('show')

            },
            loadUsers() {
                axios.get("/api/user").then(resp => {
                    this.users = resp.data
                })
            },
            storeUser() {
                this.$Progress.start();
                this.form.post("/api/user")
                    .then(resp => {
                        this.users.push(resp.data);
                        this.$Progress.finish();
                        $('#userModal').modal('hide');
                        this.toast("Success", "User Created Successfully. Password is 'a'.")
                    })
                    .catch(err => {
                        this.$Progress.fail();
                        this.$swal("Error", "Error While Creating User", "error")
                    })
            },
            updateUser() {
                this.$Progress.start();
                this.form.put("/api/user/" + this.form.id)
                    .then(resp => {
                        const index = this.users.findIndex(u => u.id === resp.data.id);
                        this.users[index].name = resp.data.name;
                        this.users[index].email = resp.data.email;
                        this.users[index].type = resp.data.type;

                        this.$Progress.finish();
                        $('#userModal').modal('hide');
                        this.toast("Success!", "User updated successfully!")
                    })
                    .catch(err => {
                        this.$Progress.fail();
                        this.$swal("Error", "Error While Updating User", "error")
                    })
            },
            deleteUser(user) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete !'
                }).then((result) => {
                    if (result.value) {
                        this.$Progress.start();
                        axios.delete("/api/user/" + user.id)
                            .then(resp => {
                                this.$Progress.finish();
                                const index = this.users.findIndex(u => u.id === user.id);
                                this.users.splice(index, 1);
                                this.$swal(
                                    'Deleted!',
                                    'User has been deleted.',
                                    'success'
                                )
                            })
                            .catch(err => {
                                this.$Progress.fail();
                                this.$swal(
                                    'Error!',
                                    'Problem while deleting.',
                                    'error'
                                )
                            })
                    }
                })
                /*  */
            }
        },
        created() {
            this.loadUsers();
        },
        watch: {
            users: {
                handler: function (val, oldVal) {
                    this.datatableInit();
                },
                deep: true
            }
        }
    }
</script>